@import "variables/colors";
@import "variables/typography";

.header{
    color: $gold;
    font-family: $primary;
    font-size: 32px;
}

.sub-header {
    color: $darkGreen;
    font-family: $secondary;
    font-size: 20px;
}

.text {
    color: $lightGreen;
    font-family: $secondary;
    font-size: 15px;
}