@import "functions";

@import "variables/colors";
@import "variables/typography";

@import "components/navbar.scss";
@import "components/footer.scss";
@import "components/button.scss";

@import "components/sliders/bestSellers.scss";

@import "pages/watchesListing.scss";



body {
margin: 0 !important;
}
.container {
    margin: rem-calc(10)
}
.header{
    color: $light-blue;
    font-family: $primary;
    font-size: rem-calc(32);
    font-weight: 600;
}

.sub-header {
    color: $light-blue;
    font-family: $primary;
    font-size: rem-calc(20);
    font-weight: 600;
}

.text {
    color: $black;
    font-family: $secondary;
    font-size: rem-calc(16);
}